<h1>Listing registers</h1>

<table>
  <thead>
    <tr >
      <th >Name</th>
      <th>Email</th>
      
    </tr>
  </thead>

  <tbody>
    <% @registers.each do |register| %>
      <tr>
        <td><%= register.name %></td>
        <td><%= register.email %></td>
       
         </tr>
    <% end %>
  </tbody>
</table>

<br>

