
Welcome ! <%= @register.name%>
===============================================
 
 You have been successfully registered for MathRix’15  on 11-03-15 
   
Thanks & Regards
MathRix team.
For further queries mail us to <a href=""></a>