<!DOCTYPE html>
<html>
  <head>
    <meta content=3D'text/html; charset=3DUTF-8' http-equiv=3D'Content-Type' />
  </head>
  <body>
    <h1>Welcome ! <%= @register.name%></h1>
   <p> You have been successfully registered for MathRix’15  on 11-03-15
   </p>
<p>Thanks & Regards</p>
<p>MathRix team.</p>
<p>For further queries mail us to <a href=""></a></p>



  </body>
</html>
