<html>
<head>
<title>MathRix</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/jquery.countdown.css" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<script src="/js/hover_pack.js"></script>
	<script src="/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="/css/chocolat.css" type="text/css" media="all" />
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
			$(function() {
				$('#example1 a').Chocolat();
			});
		</script>
	<script type="text/javascript" src="/js/jquery-hover-effect.js"></script>
	<script type="text/javascript">
	//Image Hover
	jQuery(document).ready(function(){
	jQuery(function() {
		jQuery('ul.da-thumbs > li').hoverdir();
	});
	});
	</script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
        <div class="container">
        <div class="w-col w-col-1 logo">   
            <div class="logo">
                <a href="/"><img src="/images/logo/logo2.png" width="110" height="74" alt="" /></a> 
            </div>
            </div>
            <div class="w-col w-col-2 logo">
            <br>
            <h3 style="color: #fff;font-size:30px;">MathRix</h3>
            </div>
            <div class="top-menu">
			<span class="menu"> </span>
                <ul class="cl-effect-1">
                   <li><a  href="/">Home</a></li>
                    <li><a class="active" href="/home/aboutus">About</a></li>
                    <li><a href="/home/events">Events</a></li>
                    <li><a href="/home/gallery">Gallery</a></li>
                    <li><a href="/home/sponsors">Sponsors</a></li>
                    <li><a  href="/home/team">Team</a></li>
                    <li><a href="/home/contactus">Contact</a></li>
                </ul>
            </div>
			<!-- script-for-menu -->
		<script>
			$("span.menu").click(function(){
				$(".top-menu ul").slideToggle("slow" , function(){
				});
			});
		</script>
		<!-- script-for-menu -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- header-section-ends -->
    <!-- about-section -->
    
	<div class="about text-center">
	<div class="container">
	<div class="row-fluid PageHead">
	
	<div class="span12">
	<span> <img src="/images/logo/anna_logo.png" width="150" height="150" alt="______"></span>
	<br><br>
	<h3>ANNA UNIVERSITY</h3>
	</div>
	
	
	
	<p class="lead text-center">Anna University, formerly Perarignar Anna University of Technology, is the top most university in Tamil Nadu, India. It's been ranked 7th best university in India. The university encompasses within it one of the oldest technical institutes in the world and has a history spanning 220 years. It was renamed 'Anna University' on 4 September 1978 as a unitary university, It was named after former Chief Minister of Tamil Nadu, The great leader Mr. C N Annadurai. It became an affiliating university in 2001, absorbing all engineering colleges in Tamil Nadu. The Anna University Microsatellite, or ANUSAT, is an Indian student built microsatellite. Anusat is the first satellite designed and developed by an Indian university and is the first satellite in India to be built and operated by any organisation other than ISRO. The university departments include College of Engineering, Guindy campus, Madras Institute of Technology - Chrompet campus, ACT campus and SAP campus.</p>
	
	<a target="_blank" style="color:#207584;" class="btn btn-link" href="https://www.annauniv.edu/">More ..</a>

	<div class="row-fluid theteam">
	<div class="span2"></div>
	<div class="span2"></div>
	<div class="span2"><img src="/images/aboutus/act.jpg" height="120" alt="team"></div>
	<div class="span2"><img src="/images/aboutus/annauniv.jpg" height="120" alt="team"></div>
	<div class="span2"></div>
	<div class="span2"></div>
	<div class="clearfix"></div>
	</div>
	</div>
	<br>
	<br>
	<div class="container">
	<div class="row-fluid PageHead inverse">
	<div class="span12">
	<span> <img style="background-color:#fff;" src="/images/logo/mcs.png"  alt="______"></span>
	<br><br>
	<h3>MATHEMATICS COLLOQUIUM</h3>
	</div>
	<p class="lead text-center">


	The Department of Mathematics which is one of the largest units of Anna University caters to the needs of the Under-Graduate and Post-Graduate programmes in Science, Engineering and Technology. The Department of Mathematics provides high quality teaching with its never ending vision to achieve excellence. The Mathematics Colloquium has been conducting an intercollegiate students’ meet “MATHRIX” every year for the past two decades in order to instill the significance of mathematics in this age of information and technology. Mathrix has always been one of the fascinating and vibrant tech cum math fest for students from various colleges. Events that bring out talents, test capabilities of students and challenge mathematical, technical and analytical skills are conducted as part of the extravaganza. Every year Mathrix receives overwhelming support, guidance and suggestions from various patrons and students. We are sure that Mathrix’15 will be a grand success.</p>
		<a target="_blank" style="color:#207584;" class="btn btn-link" href="http://www.mcsau.in/">More ..</a>

	<div class="row-fluid theteam">
	<div class="span2"></div>
	<div class="span2"><img src="/images/aboutus/main.jpg" height="120" alt="team"></div>
	<div class="span2"><img src="/images/gallery/img1.jpg" height="120" alt="team"></div>
	<div class="span2"><img src="/images/aboutus/mathrix11.jpg" height="120" alt="team"></div>
	<div class="span2"><img src="/images/aboutus/mathrix14.jpg" height="120" alt="team"></div>
	<div class="span2"></div>
	<div class="clearfix"></div>
	</div>
	<br><br>
	</div>
	</div>
	
	</div>
	</div>
	</body>
</html>