<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>MathRix</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/jquery.countdown.css" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="SONGLILY Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<script src="/js/hover_pack.js"></script>
	<script src="/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="/css/chocolat.css" type="text/css" media="all" />
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
			$(function() {
				$('#example1 a').Chocolat();
			});
		</script>
		<script type="text/javascript" src="/js/jquery-hover-effect.js"></script>
		<script type="text/javascript">
	//Image Hover
	jQuery(document).ready(function(){
	jQuery(function() {
		jQuery('ul.da-thumbs > li').hoverdir();
	});
	});
	</script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
        <div class="container">
            <div class="w-col w-col-1 logo">      
            <div class="logo">
                <a href="/"><img src="/images/logo/logo_dark.png" width="80" height="80" alt="" /></a> 
            </div>
            </div>
            <div class="w-col w-col-2 logo">
            <br><br>
            <h3 style=" margin-left:15px; color: #fff; font-size:30px;">MathRix</h3>
            </div>
            <div class="top-menu">
			<span class="menu"> </span>
                <ul class="cl-effect-1">
                <br>
                    <li><a  href="/">Home</a></li>
                    <li><a href="/home/aboutus">About</a></li>
                    <li><a  href="/home/events">Events</a></li>
                    <li><a  href="/home/gallery">Gallery</a></li>
                    <li><a href="/home/sponsors">Sponsors</a></li>
                    <li><a  href="/home/team">Team</a></li>
                    <li><a class="active" href="/home/contactus">Contact</a></li>
                </ul>
            </div>
			<!-- script-for-menu -->
			<script>
			$("span.menu").click(function(){
				$(".top-menu ul").slideToggle("slow" , function(){
				});
			});
			</script>
			<!-- script-for-menu -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- header-section-ends -->
	<!-- contact -->
	<div class="contact-main">
			<div class="contact">
				<div class="container">
					<div class="contact-section">
					<h3>Contact </h3>
					 <div class="row">
						<%= render '/contacts/new'%>
					</div>
					

			 	 </div>
			   </div>
			   

	

			</div>
			
	<div class="social-network">
        <div class="social-network1">
				<a target="_blank" href="https://www.facebook.com/pages/MathRix/183380621687043?ref=aymt_homepage_panel">
				<i class="facebook"></i>
                <p>like Us On Facebook</p>
				<div class="clearfix"></div>
				</a>
        </div>
        <div class="social-network2">
			<a target="_blank" href="#">
			<i class="twitter"></i>
			<p>Follow us On Twitter</p>
			</a>
        </div>
        <div class="social-network3">
			<a target="_blank" href="#">
			<i class="googlepluse"></i>
			<p>Follow Us On Google+</p>
			</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="map">
        <iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?hl=en&amp;safe=off&amp;q=Anna+University,+Chennai,+Tamil+Nadu+Arts+%26+Crafts+Store,+College+Bookstore&amp;ie=UTF8&amp;hq=Arts+%26+Crafts+Store,+College+Bookstore&amp;hnear=Anna+University+Parking,+Chennai,+Tamil+Nadu&amp;t=h&amp;iwloc=lyrftr:h,13984805977349966441,13.011347,80.23552&amp;ll=13.011632,80.235783&amp;spn=0.001419,0.002642&amp;output=embed"></iframe>
    </div>
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button"  data-toggle="tooltip" data-placement="left"><img src="/images/up.png" width="20" height="20"></a>

		</div>
   <!-- contact -->
    <!-- footer-section-starts -->
	<div class="footer">
		<div class="copy-rights text-center">
		</div>			
	</div>
	<!-- footer-section-ends -->
</body>
</html>