<!DOCTYPE html>
<html>
<head>
<title>MathRix</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/jquery.countdown.css" />
<!-- Custom Theme files -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/headhesive.css">
<link rel="stylesheet" type="text/css" href="/css/magnific-popup1.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="SONGLILY Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<script src="/js/hover_pack.js"></script>
	<script src="/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="/css/chocolat.css" type="text/css" media="all" />
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
			$(function() {
				$('#example1 a').Chocolat();
			});
		</script>
	<script type="text/javascript" src="/js/jquery-hover-effect.js"></script>
	<script type="text/javascript">
	//Image Hover
	jQuery(document).ready(function(){
	jQuery(function() {
		jQuery('ul.da-thumbs > li').hoverdir();
	});
	});
	</script>
	<script src="/js/easyResponsiveTabs.js" type="text/javascript"></script>
				<script type="text/javascript">
					$(document).ready(function () {
						$('#horizontalTab').easyResponsiveTabs({
							type: 'default', //Types: default, vertical, accordion           
							width: 'auto', //auto or any width like 600px
							fit: true   // 100% fit in a container
						});
					});
				</script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
        <div class="container">
        <div class="w-col w-col-1 logo">   
            <div class="logo">
                <a href="/"><img src="/images/logo/logo2.png" width="110" height="74" alt="" /></a> 
            </div>
            </div>
            <div class="w-col w-col-2 logo">
            <br>
            <h3 style="color: #fff;font-size:30px;">MathRix</h3>
            </div>
            <div class="top-menu">
			<span class="menu"> </span>
                <ul class="cl-effect-1">
                    <li><a  href="/">Home</a></li>
                    <li><a href="/home/aboutus">About</a></li>
                    <li><a class="active" href="/home/events">Events</a></li>
                    <li><a href="/home/gallery">Gallery</a></li>
                    <li><a href="/home/sponsors">Sponsors</a></li>
                    <li><a  href="/home/team">Team</a></li>
                    <li><a href="/home/contactus">Contact</a></li>
                </ul>
            </div>
			<!-- script-for-menu -->
			<script>
			$("span.menu").click(function(){
				$(".top-menu ul").slideToggle("slow" , function(){
				});
			});
			</script>
			<!-- script-for-menu -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- header-section-ends -->
    <!-- blog-section -->
      <div class="main">
      
      	 <div class="section group">
			<h3>Events</h3>
    	<div class="wrap">
						<div class="pricing-grids">
						
						
						
							<div class="clear"> </div>
							
							<div class="pricing-grids">
							<div class="row">
							<div class="col-sm-1">
							</div>
							<div class="col-sm-11">
						<div class="pricing-grid1">							
							<div class="price-value">
								<h3 style="color: #000;">Math Quiz</h3>
							</div>
							<h3><a href=""><img src="/images/events/quiz.png" width="40" height="40"></a></h3>
							<br>
							<ul>
								<li>
									<p align="center" style="margin-left: 5px;">	
										What? ..Where? ..When? ..Who? .. Why? .. Think you can solve simple and interesting math problems? Then we have got the right stage for you! Gear Up all those master minds around!! Mark the date, Come and Have fun with mathematical theories, concepts and mathematicians!</p>
								</li>
							</ul>
							<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#event1">
									Rules
							</button>
							<br><br>
							
						</div>
						<div class="pricing-grid2">							
							<div class="price-value">
								<h3 style="color: #000;">Bug Master</h3>
							</div>
							<h3><a href=""><img src="/images/events/bug.png" width="40" height="40"></a></h3>
							<br><br>
							<ul>
								<li>
									<p style="margin-left: 5px;">	
										Bug! Bug ! Geeks its time to find the bug. Clear the bug to get the desired output.</p>
								</li>
							</ul>
							<br><br><br>
							<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#event4">
									Rules
							</button>
							<br><br>
						</div>
						<div class="pricing-grid3">							
							<div class="price-value">
								<h3 style="color: #000;">Online Games</h3>
							</div>
							<h3><a href=""><img src="/images/events/online-games.png" width="40" height="40"></a></h3>
							<br><br>
							<ul>
								<li>
									<p style="margin-left: 5px;">

									<b>Fun! Enjoymnt! Prizes !</b> There's a difference between playing and playing games. The former is an act of joy, the latter- an act. It's time for your act. Gear up your minds. Play the game and be a winner.
									
									</p>
								</li>
							</ul>
							<br>
							<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#event3">
									Rules
							</button>
							<br><br>
						</div>
						</div>
						</div>
						<div class="row">
						<div class="col-sm-1">
							</div>
							<div class="col-sm-11">
							<div class="pricing-grid1">
							<div class="price-value">
								<h3 style="color: #000;">Online Programming Contest</h3>
							</div>
							<h3><a href=""><img src="/images/events/online-prog-contest.png" width="40" height="40"></a></h3>
							<br>
							
							<ul>
								<li>
								<p align="center" style="margin-left: 5px;">
								<strong>“Every problem has a solution”. Here is a platform to showcase your problem solving skills.</strong> Enhance your coding skills to solve brain teasing problems . Challenge your analytical thinking ! Learn and explore instantly! <br> Show the world what you are capable of!!
								</p>
								</li>
							</ul>

							<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#event2">
									Rules
							</button>
							<br><br>
						</div>
						
						<div class="pricing-grid2">
							<div class="price-value">
								<h3 style="color: #000;">Math Model</h3>
							</div>
							<h3><a href=""><img src="/images/events/maths-model.png" width="40" height="40"></a></h3>
							<br><br>
							<br>
							<ul>
								<li>
								<p style="margin-left: 5px;">
								Are you a Math Wizard??? Time to build Castles, not in air but in MathRix'15. Bring life to Math Concepts, Design a Math Model and show the World the Mathematician in you!!!</p>
								</li>
							</ul>
							<br><br>
							<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#event5">
									Rules
							</button>
							<br><br>
						</div>
						<div class="pricing-grid3">							
							<div class="price-value">
								<h3 style="color: #000;">D-Structs</h3>
							</div>
							<h3><a href=""><img src="/images/events/d-structs.png" width="40" height="40"></a></h3>
							<br><br>
							<ul>
								<li>
									<p style="margin-left: 5px;">

									"Climb TREES, TRAVERSE branches,<br>
									POP the fruits, collect in STACKS...."<br>
									Hey Creative Geek! Halt your imaginations. It is universal that Memory is our Mantra. How well can you manage it?

									
									</p>
								</li>
							</ul>
							<br><br>
							<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#event6">
									Rules
							</button>
							<br><br>
						</div>
						</div>
						</div>
																											
								 <div class="modal fade" id="event1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-dialog">
    								<div class="modal-content">
      									<div class="modal-header">
        									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        										<h4 class="modal-title" id="myModalLabel">Rules for Math Quiz</h4>
      									</div>
      								<div class="modal-body">
        							 <b> Format </b>
        							 	<br>
        							 	<ul>
        							 		<li>1.Three participants per team.</li>
        							 		<li>2.There will be two rounds :</li>
        							 		<ol>
        							 			<li>i.Preliminary –  Consisting of Multiple choice Questions (Written) . Duration :  30 Mins</li>
        							 			<li>ii.Finals- Consisting of three rounds . Duration :1 hr.</li>
        							 		</ol>
        							 	</ul>
        							 	<br>
        							 	<b>Prizes</b> <br>
        							 	<ul>
        							 		<li>1. Winner -> Rs.1500/-</li>
        							 		<li>2. 1<sup>st</sup> Runner-up -> Rs.1000/-</li>
        							 		<li>3. 2<sup>nd</sup> Runner-up -> Rs.500/-</li>
        							 	</ul><br>
      								</div>
  									</div>
								</div>

							</div>
								<div class="modal fade" id="event2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-dialog">
    								<div class="modal-content">
      									<div class="modal-header">
        									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        										<h4 class="modal-title" id="myModalLabel">Rules for Online Programming Contest</h4>
      									</div>
      								<div class="modal-body">
        							 <b> Format </b>
        							 	<br>
        							 	<ul>
        							 		<li>It will be an Individual Event.</li>
        							 		<li>There will be a single round where the participant will be asked to solve a set of 5 questions with constraints not limited to only time and space.</li>
        							 		<li>Total duration : 2 to 3 hours.</li>
        							 	</ul>
        							 	<br>
        							 	<b>Prizes</b> <br>
        							 	<ul>
        							 		<li>Winner -> Rs.2000/-</li>
        							 		<li>Runner-up -> Rs.1000/-</li>
        							 	</ul><br>
      								</div>
  									</div>
								</div>

							</div>
							<div class="modal fade" id="event3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-dialog">
    								<div class="modal-content">
      									<div class="modal-header">
        									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        										<h4 class="modal-title" id="myModalLabel">Rules for Online Games</h4>
      									</div>
      								<div class="modal-body">
        							 <b> Format </b>
        							 	<br>
        							 	<ul>
        							 		<li>...</li>
        							 		<li>...</li>
        							 	</ul>
        							 	<br>
        							 	<b>Prizes</b> <br>
        							 	<ul>
        							 		<li>...</li>
        							 		<li>...</li>
        							 	</ul><br>
      								</div>
  									</div>
								</div>

							</div><div class="modal fade" id="event4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-dialog">
    								<div class="modal-content">
      									<div class="modal-header">
        									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        										<h4 class="modal-title" id="myModalLabel">Rules for Bug Master</h4>
      									</div>
      								<div class="modal-body">
        							 <b> Format </b>
        							 	<br>
        							 	<ul>
        							 		<li>...</li>
        							 		<li>...</li>
        							 	</ul>
        							 	<br>
        							 	<b>Prizes</b> <br>
        							 	<ul>
        							 		<li>...</li>
        							 		<li>...</li>
        							 	</ul><br>
      								</div>
  									</div>
								</div>

							</div>
							<div class="modal fade" id="event5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-dialog">
    								<div class="modal-content">
      									<div class="modal-header">
        									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        										<h4 class="modal-title" id="myModalLabel">Rules for Math Model</h4>
      									</div>
      								<div class="modal-body">
        							 <b> Format </b>
        							 	<br>
        							 	<ul>
        							 		<li>...</li>
        							 		<li>...</li>
        							 	</ul>
        							 	<br>
        							 	<b>Prizes</b> <br>
        							 	<ul>
        							 		<li>...</li>
        							 		<li>...</li>
        							 	</ul><br>
      								</div>
  									</div>
								</div>

							</div>
							<div class="modal fade" id="event6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  								<div class="modal-dialog">
    								<div class="modal-content">
      									<div class="modal-header">
        									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        										<h4 class="modal-title" id="myModalLabel">Rules for D-Structs</h4>
      									</div>
      								<div class="modal-body">
        							 <b> Format </b>
        							 	<br>
        							 	<ul>
        							 		<li>...</li>
        							 		<li>...</li>
        							 	</ul>
        							 	<br>
        							 	<b>Prizes</b> <br>
        							 	<ul>
        							 		<li>...</li>
        							 		<li>...</li>
        							 	</ul><br>
      								</div>
  									</div>
								</div>

							</div>

							</div>
						<div class="clear"> </div>
					</div>
	   <div class="clearfix"></div>
	  </div>
	  
	  </div>
   </div>
    <!-- footer-section-starts -->
	<div class="footer">
		<div class="copy-rights text-center">
		</div>			
	</div>
	<!-- footer-section-ends -->
		<script src="/js/jquery.magnific-popup.js"></script>

</body>
</html>