<html>
<head>
<title>MathRix</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/jquery.countdown.css" />

<link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="SONGLILY Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<script src="/js/hover_pack.js"></script>
<link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
        <div class="container">
        <div class="w-col w-col-1 logo">   
            <div class="logo">
            <a href="/"><img src="/images/logo/logo_dark.png" width="80" height="80" alt="" /></a>
            </div>
            </div>
            <div class="w-col w-col-2 logo">
            <br><br>
            <h3 style=" margin-left:15px; color: #fff; font-size:30px;">MathRix</h3>
            </div>
            <div class="top-menu">
			<span class="menu"> </span>
                <ul class="cl-effect-1">
                <br>
                     <li><a  href="/">Home</a></li>
                    <li><a href="/aboutus">About</a></li>
                    <li><a  href="/events">Events</a></li>
                    <li><a class="active" href="/gallery">Gallery</a></li>
                    <li><a href="/sponsors">Sponsors</a></li>
                    <li><a  href="/team">Team</a></li>
                    <li><a href="/contactus">Contact</a></li>
                    </ul>
            </div>
			<!-- script-for-menu -->
			<script>
			$("span.menu").click(function(){
				$(".top-menu ul").slideToggle("slow" , function(){
				});
			});
			</script>
			<!-- script-for-menu -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- header-section-ends -->
	<!-- portfolio -->
	<div class="works main">

	<div class="container">
            
                <div class="center gap">
                    <h3>OUR WORKS</h3>
                    
                </div><!--/.center-->
                <ul class="portfolio-filter">
                    <li><a class="btn btn-link active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-link" href="#" data-filter=".inaug">Inauguration</a></li>
                    <li><a class="btn btn-link" href="#" data-filter=".m14">MathRix'14</a></li>
                    <li><a class="btn btn-link" href="#" data-filter=".ws">Workshop</a></li>
                    <li><a class="btn btn-link" href="#" data-filter=".bi">Brochure & Invitation</a></li>
                </ul><!--/#portfolio-filter-->
                <ul class="portfolio-items col-4">
                    
                    
                   
                    
                    <li class="portfolio-item wordpress ws">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/img1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/img1.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress inaug">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/m11.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/m11.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress inaug">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/m1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/m1.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress inaug">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/m2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/m2.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress inaug">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/m3.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/m3.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress inaug">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/m4.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/m4.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress m14">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/m12.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/m12.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress m14">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/m13.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/m13.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress m14">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/m5.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/m5.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress m14">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/m6.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/m6.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress m14">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/m7.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/m7.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress m14">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/m8.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/m8.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress m14">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/m9.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/m9.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress m14">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/gallery/m10.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/gallery/m10.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress bi">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/bi/1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/bi/1.jpg"  ><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                   <li class="portfolio-item wordpress bi">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/bi/2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/bi/2.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress bi">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/bi/4.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/bi/4.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress bi">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/bi/6.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/bi/6.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress bi">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/bi/i1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/bi/i1.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item wordpress bi">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/bi/i2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/bi/i2.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item wordpress bi">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/bi/i3.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/bi/i3.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                     <li class="portfolio-item wordpress bi">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/bi/i4.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-link" title="" href="/images/bi/i4.jpg"><img src="/images/eye.png" width="20" height="20"></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    
                </ul>   
           
        </div><!--/.container-->
					
				   <script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>
		
			
       </div>
     </div>
	 	</div>
        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button"  data-toggle="tooltip" data-placement="left"><img src="/images/up.png" width="20" height="20"></a>

	</div>
	<!--//End-Gallery-->
   <!-- portfolio -->
    <!-- footer-section-starts -->
	<div class="footer">
		<div class="copy-rights text-center">
		</div>			
	</div>
	<!-- footer-section-ends -->
	<script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>