<html>
<head>
<title>MathRix</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/jquery.countdown.css" />


<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="SONGLILY Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<script src="/js/hover_pack.js"></script>
<link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
        <div class="container">
        <div class="w-col w-col-1 logo">   
            <div class="logo">
                <a href="/"><img src="/images/logo/logo2.png" width="110" height="74" alt="" /></a> 
            </div>
            </div>
            <div class="w-col w-col-2 logo">
            <br>
            <h3 style="color: #fff; font-size:30px;">MathRix</h3>
            </div>
            <div class="top-menu">
			<span class="menu"> </span>
                <ul class="cl-effect-1">
                     <li><a  href="/">Home</a></li>
                    <li><a href="/home/aboutus">About</a></li>
                    <li><a  href="/home/events">Events</a></li>
                    <li><a class="active" href="/home/gallery">Gallery</a></li>
                    <li><a href="/home/sponsors">Sponsors</a></li>
                    <li><a  href="/home/team">Team</a></li>
                    <li><a href="/home/contactus">Contact</a></li>
                    </ul>
            </div>
			<!-- script-for-menu -->
			<script>
			$("span.menu").click(function(){
				$(".top-menu ul").slideToggle("slow" , function(){
				});
			});
			</script>
			<!-- script-for-menu -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- header-section-ends -->
	<!-- portfolio -->
	<div class="works main">
					<div class="container">
							<h3>OUR WORKS</h3>
						      <div class="section group">

								<div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img class="gall" src="/images/gallery/b1.jpg" alt="">
							    </div>
							    <div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img class="gall" src="/images/gallery/b2.jpg" alt="">
							    </div>
							    <div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img class="gall" src="/images/gallery/b3.jpg" alt="">
							    </div>
							    <div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img class="gall" src="/images/gallery/b4.jpg" alt="">
							    </div>
							    <br>
							    <div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img class="gall" src="/images/gallery/1.jpg" alt="">
							    </div>
							    <div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img class="gall" src="/images/gallery/2.jpg" alt="">
							    </div>
							    <div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img class="gall" src="/images/gallery/3.jpg" alt="">
							    </div>
							    <div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img class="gall" src="/images/gallery/img1.jpg" alt="">
							    </div>
								
							<div class="clearfix"></div>
						</div>
				   <script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>
		
			
       </div>
     </div>
	 	</div>
	</div>
	<!--//End-Gallery-->
   <!-- portfolio -->
    <!-- footer-section-starts -->
	<div class="footer">
		<div class="copy-rights text-center">
		</div>			
	</div>
	<!-- footer-section-ends -->
</body>
</html>