<!DOCTYPE html>
<html>

<head><!-- START HEAD -->
<meta charset="utf-8">
<!-- START TITLE -->
<title>Mathrix</title>
<!-- END TITLE -->

<!-- START META, DESCRIPTION, KEYWORDS, AUTHOR -->
<meta name="description" content="A Template by Carino Technologies" />
<meta name="keywords" content="HTML, CSS, JavaScript" />
<meta name="author" content="carinotechnologies" />
<!-- END META, DESCRIPTION, KEYWORDS, AUTHOR -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- START THEME STYLE -->
<link rel="stylesheet" type="text/css" href="/css/normal.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/headhesive.css">
<link href="/css/animate.css" rel="stylesheet">

<!-- END THEME STYLE -->

<!-- START FONTELLO ICONS STYLESHEET -->
<link rel="stylesheet" type="text/css" href="/css/fontello.css">
<link rel="stylesheet" type="text/css" href="/css/fontello-ie7.css">
<!-- END FONTELLO ICONS STYLESHEET -->

<!-- START MAGNIFIC POPUP STYLESHEET -->
<link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
<!-- END MAGNIFIC POPUP STYLESHEET -->

<!-- LOAD GOOGLE FONT OPEN SANS -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700" rel="stylesheet" type="text/css">
<!-- END GOOGLE FONT OPEN SANS -->


<!-- START AJAX WEBFONTS -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<!-- END AJAX WEBFONTS -->

<!-- START MOBILE DETECT -->
<script>if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';</script>
<!-- END MOBILE DETECT -->

<!-- START FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<!-- EDN FAVICON -->

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head><!-- END HEAD -->
<body> <!-- START BODY TAG -->

<!-- START HEADER -->
<!-- SCROLL DIV #boxscroll by nicescroll -->

<div tabindex="1000" style="overflow-y: auto;" id="boxscroll">


<!-- CHANGEABLE UNIQUE SECTOIN ID -->
<section id="home">

<!-- START FIXED HEADER DIV -->
<div class="banner">
<!-- START CONTAINER -->
<div class="w-container container">
<div class="w-row">

<!-- START COLUMN 3 -->
<div class="w-col w-col-1 logo">
<!-- START LOGO 
<a href="#"><img class="logo" src="/images/logo.png" alt="FLAT ASPHALT"></a> -->
<img src="/images/logo/logo1.png" width="100" height="80"> 

<!-- END LOGO -->
</div><!-- END COLUMN 3 -->
<div class="w-col w-col-2 logo">
<h3 class="head-1">MathRix</h3>
</div>

<!-- START COLUMN 9 -->
<div class="w-col w-col-9">

<!-- START NAVIGATION -->
<div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
<div class="w-container nav"><!-- START CONTAINER -->

<!-- START NAVIGATION LINKS -->
<nav class="w-nav-menu nav-menu" role="navigation">

<a class="w-nav-link menu-li" href="#home">HOME</a>
<a class="w-nav-link menu-li" href="index.html#about">ABOUT US</a>
<a class="w-nav-link menu-li" href="index.html#events">EVENTS</a>
<a class="w-nav-link menu-li" href="index.html#gallery">GALLERY</a>
<a class="w-nav-link menu-li" href="index.html#team">TEAM</a>
<a class="w-nav-link menu-li" href="index.html#sponsors">SPONSORS</a>
<a class="w-nav-link menu-li" href="index.html#contact">CONTACT</a>

</nav>
<!-- END NAVIGATION LINKS -->

<!-- START MOBILE NAVIGATION BUTTON * DO NOT DELETE THIS DIV* -->
<div class="w-nav-button">
<div class="w-icon-nav-menu"></div>
</div><!-- END MOBILE NAVIGATION BUTTON -->

</div>
<!-- END CONTAINER -->
</div>
<!-- END NAVIGATION -->
</div>
<!-- END COLUMN 9 -->
</div>
</div>
<!-- END CONTAINER -->
</div>
<!-- END FIXED HEADER DIV -->
</section>
<!-- END SECTION -->
<!-- END HEADER -->

<div class="header-parallax" data-stellar-background-ratio="0.5">
<div class="slidersection">



<div class="overlay">
<div class="center">
<% if notice %>
<div class="alert alert-success">
<a href="#" class="close" data-dismiss="alert">&times;</a>
<strong> <%= notice%></strong>
</div> 
<% end %>
<%if alert %>
<div class="alert alert-danger">    
<a href="#" class="close" data-dismiss="alert">&times;</a>    
<strong> <%= alert%></strong>
</div>
<%end%>    
</div>

<div class="center fixed-content">
<div class="center-fix">
<h1 class="head1">Department of Mathematics</h1><br>
<h4 class="head1" style="margin-bottom: 50px;">Presents<br><strong class="green"><h2>MathRix '15</h2></strong></h4>
<h3 class="tagline">Power of Brains</h3>

</div>
</div>
</div>
</div>
</div>


<!--///////////////////////////////////////////////////////

// End slider section 

//////////////////////////////////////////////////////////-->


<div id="about">
<div class="row-gree">

<div class="w-container wrap">

<div class="center">

<h2 >About US</h2>

</div>

</div>

</div>

<div class="row-back">

<div class="w-container wrap">
<div role="tabpanel">
<br><br><br>

<div class="container content"> 
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li> 
<li data-target="#carousel-example-generic" data-slide-to="1"></li> 
<li data-target="#carousel-example-generic" data-slide-to="2"></li> 
</ol> 
<!-- Wrapper for slides --> 
<div class="carousel-inner"> 
<div class="item active"> 
<div class="row">
<div class="col-xs-12"> 
<div class="thumbnail adjust1"> 
<div class="col-md-2 col-sm-2 col-xs-12">
<img class="media-object img-rounded img-responsive" src="/images/logo/logo4.png"> 
</div> <div class="col-md-10 col-sm-10 col-xs-12">
<div class="caption">
<p class="text-info lead adjust2">Anna University</p> 
<p><span class="glyphicon glyphicon-thumbs-up"></span> Anna University, formerly Perarignar Anna University of Technology, is the top most university in Tamil Nadu, India. It's been ranked 7th best university in India. The university encompasses within it one of the oldest technical institutes in the world and has a history spanning 220 years. It was renamed 'Anna University' on 4 September 1978 as a unitary university, It was named after former Chief Minister of Tamil Nadu, The great leader Mr. C N Annadurai. It became an affiliating university in 2001, absorbing all engineering colleges in Tamil Nadu. The Anna University Microsatellite, or ANUSAT, is an Indian student built microsatellite. Anusat is the first satellite designed and developed by an Indian university and is the first satellite in India to be built and operated by any organisation other than ISRO. The university departments include College of Engineering, Guindy campus, Madras Institute of Technology - Chrompet campus, ACT campus and SAP campus.</p>
</div> 
</div> 
</div> 
</div> 
</div>
</div>

<div class="item "> 
<div class="row">
<div class="col-xs-12"> 
<div class="thumbnail adjust1"> 
<div class="col-md-2 col-sm-2 col-xs-12">
<img class="media-object img-rounded img-responsive" src="/images/logo/mcs.png"> 
</div> <div class="col-md-10 col-sm-10 col-xs-12">
<div class="caption">
<p class="text-info lead adjust2">MATHEMATICS COLLOQUIUM</p> 
<p><span class="glyphicon glyphicon-thumbs-up"></span> The Department of Mathematics which is one of the largest units of Anna University caters to the needs of the Under-Graduate and Post-Graduate programmes in Science, Engineering and Technology. The Department of Mathematics provides high quality teaching with its never ending vision to achieve excellence. The Mathematics Colloquium has been conducting an intercollegiate students’ meet “MATHRIX” every year for the past two decades in order to instill the significance of mathematics in this age of information and technology. Mathrix has always been one of the fascinating and vibrant tech cum math fest for students from various colleges. Events that bring out talents, test capabilities of students and challenge mathematical, technical and analytical skills are conducted as part of the extravaganza. Every year Mathrix receives overwhelming support, guidance and suggestions from various patrons and students. We are sure that Mathrix’15 will be a grand success.</p>
</div> 
</div> 
</div> 
</div> 
</div>
</div>

</div>
<!-- Controls --> 

</div> 
</div>

</div>



</div>

</div>

</div>


<div id="events">
<div class="row-gree1">

<div class="w-container wrap">

<div class="center">

<h2 class="underline">OUR CORE EVENTS</h2>
</div>

</div>

</div>

<div class="row-back">

<div class="w-container wrap">



<div class="w-col w-col-6 wp1">

<div class="icon-box">

<img src="/images/events/quiz.png" width="40" height="50">
<br><br><br>
<h4 class="head1">Maths quiz</h4>

<p class="para">
What? ..Where? ..When? ..Who? .. Why?..
Think you can answer interesting questions on         mathematicians of the world? Think you can solve simple and interesting math problems? Then we have got the right stage for you! Gear Up all those master minds around!! Mark the date, Come and Have fun with mathematical theories, concepts and mathematicians!

</p>


</div>

</div>

<div class="w-col w-col-6 wp1 delay-05s">

<div class="icon-box">

<img src="/images/events/online-prog-contest.png" width="40" height="50">
<br><br><br>
<h4 class="head1">Online Programming Contest</h4>

<p class="para">

<strong>“Every problem has a solution”.</strong> Here is a platform to showcase your problem solving skills. Enhance your coding skills to solve brain   teasing problems . Challenge your analytical thinking ! Learn and   explore instantly!Show the world what you are capable of!!

</p>
<br><br>

</div>

</div>

<div class="w-col w-col-6 wp1 delay-1s">

<div class="icon-box">

<img src="/images/events/online-games.png" width="40" height="50">
<br><br><br>
<h4 class="head1">Online Games</h4>

<p class="para">

Fun! Enjoymnt! Prizes ! There's a difference between playing and playing games. The former is an act of joy, the latter- an act. It's time for your act. Gear up your minds. Play the game and be a winner.

</p>

</div>

</div>

<div class="w-col w-col-6 wp1 delay-2s">

<div class="icon-box">

<img src="/images/events/bug.png" width="40" height="50">
<br><br><br>

<h4 class="head1">Bug Master</h4>

<p class="para">

Bug! Bug ! Geeks its time to find the bug. Clear the bug to get the desired output.

</p>
<br><br>

</div>

</div>

<div class="w-col w-col-6 wp1 delay-3s">

<div class="icon-box">

<img src="/images/events/maths-model.png" width="40" height="50">
<br><br><br>

<h4 class="head1">Math Model</h4>

<p class="para">

Are you a Math Wizard??? Time to build Castles, not in air but in MathRix'15. Bring life to Math Concepts, Design a Math Model and show the World the Mathematician in you!!!
</p>

</div>

</div>

<div class="w-col w-col-6 wp1 delay-4s">

<div class="icon-box">

<img src="/images/events/d-structs.png" width="40" height="50">
<br><br><br>

<h4 class="head1">D-Structs</h4>

<p class="para">

"Climb TREES, TRAVERSE branches,
	POP the fruits, collect in STACKS...."
	Hey Creative Geek! Halt your imaginations. It is universal that Memory is our Mantra. How well can you manage it?

	</p>

	</div>

	</div>




	</div>

	</div>

	</div>

	</div>

	<div id="gallery">

	<div class="row-gree">

	<div class="w-container wrap">

	<div class="center">

	<h1 class="underline">SEE OUR WORK</h1>

	</div>

	</div>

	</div>

	<div class="row-back">

	<div class="w-container center">

	<div class="row">

	<div class="options">

	<ul>

	<li class="filter button border medium active" data-filter="all">Show All</li>

	<li class="filter button border medium" data-filter="web_design">Mathrix'14</li>

	<li class="filter button border medium" data-filter="html5_css3">Android Workshop</li>

	</ul>

	</div>

	</div>

	</div>


	<ul class="lb-album" id="Grid">


	<li class="mix web_design mix_all">

	<a class="image-popup-no-margins"  alt="responsive" title="Responsive Design" href="/images/portfolio/thumbnail-01.jpg" >

	<img src="/images/portfolio/thumbnail-01.jpg" >

	<span>

	<h4 class="underline heading-description">Responsive Design</h4>

	<p class="center description">Clinet / Themeforest</p>

	</span>

	</a>



	</li>

	<li class="mix html5_css3 mix_all">

	<a class="image-popup-no-margins" href="/images/portfolio/thumbnail-07.jpg">

	<img src="/images/portfolio/thumbnail-07.jpg" >

	<span>

	<h4 class="underline heading-description">HTML5 & CSS3</h4>

	<p class="center description">Clinet / Themeforest</p>

	</span>

	</a>

	</li>

	<li class="mix html5_css3 mix_all">

	<a class="image-popup-no-margins" href="/images/portfolio/thumbnail-08.jpg">

	<img src="/images/portfolio/thumbnail-08.jpg">

	<span>

	<h4 class="underline heading-description">Grid System</h4>

	<p class="center description">Clinet / Themeforest</p>

	</span>

	</a>

	</li>

	<li class="mix web_design mix_all">

	<a class="image-popup-no-margins" href="/images/portfolio/thumbnail-02.jpg">

	<img src="/images/portfolio/thumbnail-02.jpg">

	<span>

	<h4 class="underline heading-description">IOS7 Style</h4>

	<p class="center description">Clinet / Themeforest</p>

	</span>

	</a>

	</li>

	<li class="mix web_design mix_all">

	<a class="image-popup-no-margins" href="/images/portfolio/thumbnail-03.jpg">

	<img src="/images/portfolio/thumbnail-03.jpg">

	<span>

	<h4 class="underline heading-description">Design Works</h4>

	<p class="center description">Clinet / Themeforest</p>

	</span>

	</a>

	</li>

	<li class="mix html5_css3 mix_all">

	<a class="image-popup-no-margins" href="/images/portfolio/thumbnail-06.jpg">

	<img src="/images/portfolio/thumbnail-06.jpg">

	<span>

	<h4 class="underline heading-description">JQuery Slider</h4>

	<p class="center description">Clinet / Themeforest</p>

	</span>

	</a>

	</li>

	<li class="mix web_design mix_all">

	<a class="image-popup-no-margins" href="/images/portfolio/thumbnail-04.jpg">

	<img src="/images/portfolio/thumbnail-04.jpg">

	<span>

	<h4 class="underline heading-description">Hunting Themes</h4>

	<p class="center description">Clinet / Themeforest</p>

	</span>

	</a>

	</li>

	<li class="mix web_design mix_all">

	<a class="image-popup-no-margins" href="/images/portfolio/thumbnail-05.jpg">

	<img src="/images/portfolio/thumbnail-05.jpg">

	<span>

	<h4 class="underline heading-description">Flat Design</h4>

	<p class="center description">Clinet / Themeforest</p>

	</span>

	</a>

	</li>



	<li class="mix html5_css3 mix_all">

	<a class="image-popup-no-margins" href="/images/portfolio/thumbnail-09.jpg">

	<img src="/images/portfolio/thumbnail-09.jpg">

	<span>

	<h4 class="underline heading-description">Long Shadow</h4>

	<p class="center description">Clinet / Themeforest</p>

	</span>

	</a>

	</li>

	</ul>

	</div>

	</div>




	<div id="team">
	<div class="row-gree">

	<div class="w-container wrap">
	<div class="center">
	<h1 class="underline">MEET THE TEAM</h1>
	</div>
	</div>

	</div>	  
	<div class="row-back">
	<div class="w-container wrap-normal">
	<div class="center">
	<h2 class="head1">our assets</h2>
	<p class="para">A proud group of <strong class="green">individuals</strong> who came together in a perfect unity to present you with this.</p>
	</div>
	<div class="center w-col w-col-3 wp4">
	<div class="team-album">
	<div class="tumbnail">
	<a class="team-hyper">
	<img class="thumbnail-img" src="/images/team/noimage1.png" alt="team1">
	<span>
	<h3 class="team-heading">M.Aishwarya</h3><br>
	<p class="team-designation">CHAIR PERSON</p><br>

	</span>
	</a>

	</div>
	</div>
	</div>
	<div class="center w-col w-col-3 wp4 delay-05s">
	<div class="team-album">
	<div class="tumbnail">
	<a class="team-hyper">
	<img class="thumbnail-img" src="/images/team/noimage.jpg" alt="team1">
	<span>
	<h3 class="team-heading">A.R.Parthasarathi</h3><br>
	<p class="team-designation">Vice-Chairperson</p><br>

	</span>
	</a>

	</div>
	</div>
	</div>
	<div class="center w-col w-col-3 wp4 delay-1s">
	<div class="team-album">
	<div class="tumbnail">
	<a class="team-hyper">
	<img class="thumbnail-img" src="/images/team/noimage1.png" alt="team1">
	<span>
	<h3 class="team-heading">P.L.Meenakshi</h3><br>
	<p class="team-designation">Vice-Chairperson</p><br>

	</span>
	</a>

	</div>
	</div>
	</div>
	<div class="center w-col w-col-3 wp4 delay-1-5s">
	<div class="team-album">
	<div class="tumbnail">
	<a class="team-hyper">
	<img class="thumbnail-img" src="/images/team/noimage1.png" alt="team1">
	<span>
	<h3 class="team-heading">K.M.Sharmily</h3><br>
	<p class="team-designation">Secretaries</p><br>

	</span>
	</a>

	</div>
	</div>
	</div>

	<div class="center w-col w-col-3 wp4 delay-1-5s">
	<div class="team-album">
	<div class="tumbnail">
	<a class="team-hyper">
	<img class="thumbnail-img" src="/images/team/noimage1.png" alt="team1">
	<span>
	<h3 class="team-heading">S.Devipriya</h3><br>
	<p class="team-designation">Secretaries</p><br>

	</span>
	</a>

	</div>
	</div>
	</div>



	</div>
	</div>





	<div id="sponsors">

	</div>

	<div class="row-gree">
	<div class="w-container wrap-normal">
	<div class="center">
	<h1 >OUR CLIENTS</h1>
	</div>
	</div>
	</div>

	<div class="row-back">

	<div class="w-container wrap-normal">



	<div class="clients-sub">

	<div id="clients">

	<div class="clients-wrap">

	<ul id="clients-list" class="clearfix">

	<li><br><img src="/images/logo/sponsor logos/cat.jpg" width="250" height="200" alt="logo"></li>

	<li><br><img src="/images/logo/sponsor logos/cs.png" width="250" height="200" alt="logo"></li>

	<li><br><img src="/images/logo/sponsor logos/tanscst.png" width="250" height="200" alt="logo"></li>

	<li><br><img src="/images/logo/sponsor logos/fathima.jpg" width="250" height="200" alt="logo"></li>



	<li><br><img src="/images/logo/sponsor logos/iob.png" width="250" height="200" alt="logo"></li>

	<li><br><img src="/images/logo/sponsor logos/logo.png" width="250" height="200" alt="logo"></li>

	</ul>

	</div><!-- @end .clients-wrap -->

	</div><!-- @end #clients -->

	</div>


	</div>


	</div>

	<div id="contact">

	<div class="parallax-back"  data-stellar-background-ratio="0.5">
	<div class="opcaity">
	<div class="w-container wrap">

	<div class="center">
	<h1 class="head1">GET IN TOUCH</h1>

	<div class="social-footter">
	<a target="_blank" href="https://www.facebook.com/pages/MathRix/183380621687043?ref=aymt_homepage_panel"><i class="facebookelegance-icons-"></i></a>
	<i class="twitter-birdelegance-icons-"></i>
	<!--<i class="vimeoelegance-icons-"></i>
	<i class="friendfeedelegance-icons-"></i>
	<i class="deviantartelegance-icons-"></i>
	<i class="lastfmelegance-icons-"></i>
	<i class="linkedinelegance-icons-"></i>
	<i class="picasaelegance-icons-"></i>
	<i class="wordpresselegance-icons-"></i>
	<i class="instagramelegance-icons-"></i>
	<i class="tumblrelegance-icons-"></i>-->
	</div>


	<div class="row">
	<%= render '/contacts/new'%>
	</div>

	<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
	Click here to Register
	</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
	<div class="modal-dialog">
	<div class="modal-content">
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title" id="myModalLabel">Registration Form</h4>
	</div>
	<div class="modal-body">
	<%= render '/registers/new'%> 
	</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	</div>
	</div>
	</div>
	</div>



	</div>

	</div>
	</div>
	</div>

	</div>
	<div class="w-widget w-widget-map contac-map" data-widget-latlng="13.012742,80.240235" data-widget-style="roadmap" data-widget-zoom="25" data-widget-tooltip="Anna University"></div>

	<div class="footer row-back">
	<div class="w-container wrap-normal center"><strong></strong> <span class="green"></span> </div>
	</div>

	</div>

	<!-- START JQUERY PLUGINS LOAD -->
	<script src="/js/jquery.js"></script>
	<script src="/js/modernizr.js"></script>
	<script src="/js/normal.js"></script>
	<script src="/js/carousels.js"></script>
	<script src="/js/jquery.stellar.js"></script>
	<script src="/js/classie.js"></script>
	<script src="/js/jquery.mixitup.js"></script>
	<script src="/js/testimonials.js"></script>
	<script src="/js/jquery.nicescroll.js"></script>
	<script src="/js/rotating-text.js"></script>
	<script src="/js/jquery.magnific-popup.js"></script>
	<script src="/js/headhesive.min.js"></script>
	<script src="/js/waypoints.min.js"></script>
	<script src="/js/scripts.js"></script>

	<!-- END JQUERY PLUGINS LOAD -->

	</body>

	</html>
