<html>
<head>
<title>MathRix</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/css/jquery.countdown.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="/js/jquery.countdown.js"></script>
<script src="/js/script.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<script src="/js/hover_pack.js"></script>
	<script src="/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="/css/chocolat.css" type="text/css" media="all" />
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
			$(function() {
				$('#example1 a').Chocolat();
			});
		</script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
        <div class="container">
  			<div class="w-col w-col-1 logo">      
            <div class="logo">
                <a href="/"><img src="/images/logo/logo2.png" width="110" height="74" alt="" /></a> 
            </div>
            </div>
            <div class="w-col w-col-2 logo">
            <br>
            <h3 style="color: #fff; font-size:30px;">MathRix</h3>
            </div>
            <div class="top-menu">
			<span class="menu"> </span>
                <ul class="cl-effect-1">
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="/home/aboutus">About</a></li>
                    <li><a href="/home/events">Events</a></li>
                    <li><a href="/home/gallery">Gallery</a></li>
                    <li><a href="/home/sponsors">Sponsors</a></li>
                    <li><a  href="/home/team">Team</a></li>
                    <li><a href="/home/contactus">Contact</a></li>
                </ul>
            </div>
			<!-- script-for-menu -->
		<script>
			$("span.menu").click(function(){
				$(".top-menu ul").slideToggle("slow" , function(){
				});
			});
		</script>
		<!-- script-for-menu -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- header-section-ends -->
    <!-- banner-section -->
    <div class="banner">
            <div class="banner-info text-center">
                <h2 style="color: #000; font-size:50px; margin-top:120px;">Department of Mathematics</h2><br>
                <h4 style="color: #6e8b3d; font-size:20px;">Presents</h4>
               <div class="clearfix"></div><br>
                <h2 style="color: #000; font-size:40px; margin-top:20px;">MathRix' 15</h2>
                <h4 style="font-size:20px; margin-left:150px; margin-top:15px; color:#000;">Power of Brains</h4><br><br><br>
                <a style="margin-top: 100px;" href="/home/aboutus">Get Started</a>
            </div>
    </div>
    <!-- banner-section -->
    <div class="popular-section">
        
        
       <div class="clearfix"></div>
    </div>
    
		
        <!-- requried-jsfiles-for owl -->
							<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all" />
							    <script src="js/owl.carousel.js"></script>
							      <script>
								  $(document).ready(function() {
									   $("#owl-demo").owlCarousel({
									    items : 4,
									    lazyLoad : true,
									    autoPlay : false,
									    navigation : true,
									    navigationText :  true,
									    pagination : false,
									    });
								  });
								</script>
        <!-- //requried-jsfiles-for owl -->
		<!-- start content_slider -->
		<!--//sreen-gallery-cursual -->
    
   
</body>
</html>