<html>
<head>
<title>MathRix</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/jquery.countdown.css" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="SONGLILY Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<script src="/js/hover_pack.js"></script>
	<script src="/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="/css/chocolat.css" type="text/css" media="all" />
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
			$(function() {
				$('#example1 a').Chocolat();
			});
		</script>
	<script type="text/javascript" src="/js/jquery-hover-effect.js"></script>
	<script type="text/javascript">
	//Image Hover
	jQuery(document).ready(function(){
	jQuery(function() {
		jQuery('ul.da-thumbs > li').hoverdir();
	});
	});
	</script>
	<script src="/js/easyResponsiveTabs.js" type="text/javascript"></script>
				<script type="text/javascript">
					$(document).ready(function () {
						$('#horizontalTab').easyResponsiveTabs({
							type: 'default', //Types: default, vertical, accordion           
							width: 'auto', //auto or any width like 600px
							fit: true   // 100% fit in a container
						});
					});
				   </script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
        <div class="container">
        <div class="w-col w-col-1 logo">   
            <div class="logo">
                <a href="/"><img src="/images/logo/logo2.png" width="110" height="74" alt="" /></a> 
            </div>
            </div>
            <div class="w-col w-col-2 logo">
            <br>
            <h3 style="color: #fff; font-size:30px;">MathRix</h3>
            </div>
            <div class="top-menu">
			<span class="menu"> </span>
                <ul class="cl-effect-1">
                    <li><a  href="/">Home</a></li>
                    <li><a href="/aboutus">About</a></li>
                    <li><a  href="/events">Events</a></li>
                    <li><a  href="/gallery">Gallery</a></li>
                    <li><a class="active" href="/sponsors">Sponsors</a></li>
                    <li><a  href="/team">Team</a></li>
                    <li><a href="/contactus">Contact</a></li>
                </ul>
            </div>
			<!-- script-for-menu -->
			<script>
			$("span.menu").click(function(){
				$(".top-menu ul").slideToggle("slow" , function(){
				});
			});
			</script>
			<!-- script-for-menu -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- header-section-ends -->
    <!-- single-section -->
      <div class="main">
       <div class="container">
							<h3 align ="center" style="color: #fff; font-size:40px;">SPONSORS</h3> 
							<br><br>
						      <div class="section group">

								<div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img src="/images/logo/sponsor logos/cat.jpg" alt="">
							    </div>
							    <div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img src="/images/logo/sponsor logos/cs.png" alt="">
							    </div>
							    <div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img src="/images/logo/sponsor logos/fathima.jpg" alt="">
							    </div>
							    <div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img src="/images/logo/sponsor logos/iob.png" alt="">
							    </div>
							    <div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img src="/images/logo/sponsor logos/logo.jpg" alt="">
							    </div>
							    <div class="gallery-box">
										<div id="nivo-lightbox-demo"> <p>  </p></div>     
									  	<img src="/images/logo/sponsor logos/tanscst.jpg" alt="">
							    </div>
							<div class="clearfix"></div>
						</div>
	   <div class="clearfix"></div>
	  </div>
   </div>
    <!-- footer-section-starts -->
	<div class="footer">
		<div class="copy-rights text-center">
		</div>			
	</div>
	<!-- footer-section-ends -->
</body>
</html>