<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
	      <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <br><br>
    <div class="row">
    <div class="col-md-12">
    <h4 align="center" style="color:#fff;"><i class="fa fa-map-marker"></i> ADDRESS</h4>
    <br>
    <p align="center" style="color:#000;">A.R.Parthasarathi</p><br>
    <p align="center" style="color:#000;">Department of Mathematics Anna University, Chennai – 25.</p>
    <br>
    <p align="center" style="color:#fff;"><strong style="color:#000;">Phone </strong> : 9600173400   </p><br>
    <p align="center" style="color:#fff;"><strong style="color:#000;">Email-id</strong> : mathrix15@gmail.com   </p>
    </div>
    
    </div>
    <hr>
    <br><br>
        <h4 align="center" style="color:#fff; font-size:15px;"></i> CONTACT US</h4>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <input type="text" name="contact[name]"class="form-control" required="required" placeholder="Name">
        </div>
      </div>
      
      <div class="col-xs-6">
        <div class="form-group">
          <input type="email" name="contact[email]"class="form-control" required="required" placeholder="Email address">
        </div>
      </div>

    </div>
    <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <textarea name="contact[message]" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
            </div>
            <br>
          <div class="form-group">
          <button type="submit" class="btn btn-danger btn-lg">Send Message</button>
          </div>
          </div>
    </div>

<% end %>
