// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.para {
  color: #fff;
  font-size: 13;
}

.head1{
	color: #fff;
	font-family: 'ChunkFiveRegular';
}

ol.para {
	color: #fff;
}
h3.head-1{
	font-family: 'ChunkFiveRegular';
	color: #000;
}


@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

body {padding-top:50px;}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
    background-color: #fff;
}
.box-icon {
    background-color: #fff;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #7d7d7d;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color:#0288d1;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}



.row {
    margin: 80px 0px 80px 0px;
    }

img.gall {
    margin: 5px 5px 5px 5px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1, 1);
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

img:hover.gall {
    cursor: pointer;
    -webkit-transform: scale(-1, 0);
    -ms-transform: scale(0, 0);
    transform: scale(1.5, 1.5);
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 1px 1px 5px #888888;
    z-index: 1;
    }