// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.para {
  color: #fff;
  font-size: 13;
}

h1.head1{
	color: #fff;
}
h4.head1{
	color: #fff;
}
h2.head1{
	color: #fff;
}

ol.para {
	color: #fff;
}