// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display:none;
}

p.para {
  color: #fff;
  font-size: 13;
}

.head1{
	color: #fff;
	font-family: 'ChunkFiveRegular';
}

ol.para {
	color: #fff;
}
h3.head-1{
	font-family: 'ChunkFiveRegular';
	color: #000;
}


img.gall {
    margin: 5px 5px 5px 5px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1, 1);
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

img:hover.gall {
    cursor: pointer;
    -webkit-transform: scale(-1, 0);
    -ms-transform: scale(0, 0);
    transform: scale(1.5, 1.5);
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 1px 1px 5px #888888;
    z-index: 1;
    }